<?xml version="1.0" ?>
<robot name="triangle">
  <link concave="yes" name="baseLink">
    <contact>
      <lateral_friction value="0.0"/>
      <rolling_friction value="0.0"/>
	<restitution value="0.0" />
    </contact>
    <inertial>
      <origin rpy="0 0 0" xyz="-2.069 -1.922 2.0"/>
       <mass value="23"/>
       <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
		<mesh filename="./block_design.obj" scale="1 1 1"/>
      </geometry>
       <material name="blue">
        <color rgba="0 0 0.8 1"/>
      </material>
    </visual>
    <collision >
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
	 	<mesh filename="./block_design.obj" scale="1 1 1"/>
      </geometry>
    </collision>
  </link>
</robot>

